<!--https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy-->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href= "/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
* {
  box-sizing: border-box;
}
table.center {
    width:70%; 
    margin-top:7%;
    margin-left:20%; 
    margin-right:15%;
}
#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2196F3;
  color: white;
}
#myAccount {
  position: absolute;
  top: 0px;
  right: 1px;
}

</style>
</head>
<body>
<div class="topnav">
  <a class="active" href="/admin" ><i class="fa fa-home"></i></a>
  <a href="/addbook" >Kitap Ekle</a>
  <a href="/skiptime">Zaman Atla</a>
  <a href="/listusers">Kullanıcılar</a>
  <a href = "/logout" class='fa fa-sign-out' style='font-size:20px' id = "myAccount" aria-hidden="true"></a>
</div>

<table id="users" class="center">
  <tr class="header">
    <th style="width:50%;">Kullacını Adı</th>
    <th style="width:45%;">Kitap Adı</th>
  </tr>
  <tbody>
   
    <%for(var i=0; i<users.length;i++){%>
     <tr>
      <td><%=users[i].username%></th>
      <td><%=users[i].bookname %></th>
       </tr>
    <%}%>
   
  </tbody>
  
</table>



</body>
</html>