/*https://codepen.io/DominicFrancois/pen/uoiHB */

body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}

h1,
h2,
h3,
h4,
h5,
a {
    margin: 0;
    padding: 0;
}

.login {
    margin: 0 auto;
    max-width: 500px;
    max-height: 500px;
}

.login-form {
    border: .5px solid #fff;
    background: #333333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.login-form h3 {
    text-align: left;
    margin-left: 40px;
    color: #fff;
}

.login-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}

.login input[type="text"],
.login input[type="password"] {
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}

.login-form input[type="submit"] {
    height: 30px;
    width: 100px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: slategrey;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}